@font-face {
    font-family: PHCT;
    src: url(PHCT_FONT.ttf);
}

#navbar-margin {
    background-color: #2c302e;
}

.container-fluid {
    background-color: #2c302e;
}

.txt-c {
    color: whitesmoke;
    margin-top: 7em;
    margin-bottom: 5em;
    text-align: center;
}

.promo {
    font-family: PHCT;
    color: whitesmoke;
}

.message_cw {
    font-family: PHCT;
	  color: whitesmoke;
	  text-align: justify;
}

.container {
    max-width: 1200px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Añade algo de espacio alrededor del contenido */
}

.container_cw_msg {
    max-width: 1500px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Añade algo de espacio alrededor del contenido */
}

.brand {
    font-size: 4em;
    color: #01bb30;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#buttonDiv {
    margin-bottom: 7em;
    display: flex;
    justify-content: center;
}

/* CSS */
.button-link {
  font-family: PHCT, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-link:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button-link:hover {
    background-color: #01bb30;
}
